<h2> Edit this Landmark: <%= @landmark.name %></h2>
<h3>Year Completed</h3>
<h3><%=@landmark.year_completed.to_s %></h3>

<form action="/landmarks/<%= @landmark.id %>" method="post"> 
<input type="hidden" name="_method" value="patch">

<br>
<h1><label>Edit this Landmark! </h1><br> What's its name?</label>
<input type="text" name="landmark[name]" id="name">

<br>
<label> What year was it completed? </label>
<input type="text" name="landmark[year_completed]" id="year_completed">

<input type="submit" value="Edit Landmark">

</form>