<h1> CREATE A NEW LANDMARK </h1>
<form action='/landmarks' method="post">

<h1><label>Create a New Landmark! </h1><br> What's its name?</label>
<input type="text" name="landmark[name]" id="landmark_name">

<br>
<label> What year was it completed? </label>
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">

<input type="submit" value="Create New Landmark">

</form>